body{
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: lightblue;
}

h2{
    position: absolute;
    top: 12%;
    font-family: cursive;
}

.form{
    position: absolute;
    top: 28%;
    box-shadow: 0 8px 12px rgba(0,0,0,.3);
    width: 400px;
    background-color:lightpink;
    border-radius: 10px;
}

.input{
    width: inherit;
    box-sizing:border-box;
    padding: 15px;
    border-radius: 9px;
    border: none;
    font-size: medium;
    text-decoration: none;
}

.input::placeholder{
    color: lightgrey;
}

.list li{
    padding: 15px;
    font-family: cursive;
    position: relative; 
}

i.fas.fa-trash{
    color: red;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

i.fas.fa-check-square{
    color: green;
    position: absolute;
    right: 45px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

 li.checked{
    color: darkgrey;
    text-decoration: line-through;

}




